#companies {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.address {
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 200px;
}

#company-list.table {
    --bs-table-hover-color: #fff;
    /* --bs-table-hover-bg: rgb(142, 138, 138); */
    --bs-table-hover-bg: rgba(var(--bs-success-rgb), 0.8);
}
