#users {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.stores {
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.username {
    white-space: nowrap;
}

.count {
    white-space: nowrap;
}

#user-list.table {
    --bs-table-hover-color: #fff;
    --bs-table-hover-bg: rgb(142, 138, 138);
}

/* @media screen and (width < 1370px) {
    #users {
        font-size: 0.75rem;
    }
} */
