#stores {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

#store-list.table {
    --bs-table-hover-color: #fff;
    /* --bs-table-hover-bg: rgb(142, 138, 138); */
    --bs-table-hover-bg: rgba(var(--bs-success-rgb), 0.8);
}
