#receipts {
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}

.remarks {
    max-width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.table-input {
    max-width: 300px;
}

.table .inner-table {
    margin-bottom: 0;
}

.hundredpixels {
    max-width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.eightypixels {
    max-width: 80px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}



