#colors {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

#colors-list.table {
    --bs-table-hover-color: #fff; /* Your custom text color */
    /* --bs-table-hover-bg: rgb(142, 138, 138); Your custom background color */
    --bs-table-hover-bg: rgba(var(--bs-success-rgb), 0.8);
}
